projeto-oic-n2/projeto-oic-n2/node-red/flows.json
[
  { "id": "f1", "type": "tab", "label": "Monitoramento Qualidade do Ar", "disabled": false, "info": "Sensores -> MQTT -> Node-RED -> InfluxDB Cloud (-> Grafana). Comando -> atuador." },

  { "id": "mqttbroker", "type": "mqtt-broker", "name": "Mosquitto (publico)", "broker": "test.mosquitto.org", "port": "1883", "clientid": "", "autoConnect": true, "usetls": false, "protocolVersion": "4", "keepalive": "60", "cleansession": true },
  { "id": "influx_conf", "type": "influxdb", "name": "InfluxDB Cloud", "hostname": "127.0.0.1", "port": 8086, "protocol": "http", "database": "database", "usetls": false, "influxdbVersion": "2.0", "url": "https://us-east-1-1.aws.cloud2.influxdata.com", "timeout": 10, "rejectUnauthorized": true },

  { "id": "mqttin", "type": "mqtt in", "z": "f1", "name": "MQTT sensores", "topic": "mackenzie/oic/qualidadear", "qos": "0", "datatype": "auto", "broker": "mqttbroker", "x": 140, "y": 100, "wires": [["jsonparse"]] },
  { "id": "jsonparse", "type": "json", "z": "f1", "name": "JSON -> objeto", "property": "payload", "action": "obj", "x": 330, "y": 100, "wires": [["regras"]] },
  { "id": "regras", "type": "function", "z": "f1", "name": "Regras de Negocio", "func": "var d = msg.payload || {};\nvar co2 = Number(d.co2);\nvar t = Number(d.temperatura);\nvar u = Number(d.umidade);\nvar status = d.status;\nif (!status) {\n    status = co2 < 1000 ? 'bom' : (co2 < 2000 ? 'moderado' : 'critico');\n}\nvar comando = status === 'critico' ? 'LIGAR' : 'DESLIGAR';\nvar alerta = null;\nif (status === 'critico') alerta = 'ALERTA: qualidade do ar CRITICA (' + co2 + ' ppm)';\nelse if (t < 18 || t > 26) alerta = 'ALERTA: temperatura fora do conforto (' + t + ' C)';\nelse if (u < 30 || u > 60) alerta = 'ALERTA: umidade fora do conforto (' + u + ' %)';\nvar rec = { co2: co2, temperatura: t, umidade: u, status: status };\nreturn [ { payload: rec }, { payload: comando }, alerta ? { payload: alerta } : null ];", "outputs": 3, "noerr": 0, "x": 520, "y": 100, "wires": [["monta_influx"],["cmd_out","monta_atuador"],["dbg"]] },

  { "id": "monta_influx", "type": "function", "z": "f1", "name": "Formata p/ InfluxDB", "func": "var r = msg.payload;\nmsg.payload = [\n    { co2: r.co2, temperatura: r.temperatura, umidade: r.umidade },\n    { status: r.status }\n];\nreturn msg;", "outputs": 1, "noerr": 0, "x": 760, "y": 60, "wires": [["influx_out"]] },
  { "id": "influx_out", "type": "influxdb out", "z": "f1", "influxdb": "influx_conf", "name": "Grava leituras", "measurement": "leituras", "precision": "", "retentionPolicy": "", "database": "database", "precisionV18FluxV20": "ms", "retentionPolicyV18Flux": "", "org": "mack-obi", "bucket": "qualidade_ar", "x": 980, "y": 60, "wires": [] },

  { "id": "cmd_out", "type": "mqtt out", "z": "f1", "name": "Comando ao Atuador", "topic": "mackenzie/oic/comando", "qos": "0", "retain": "false", "broker": "mqttbroker", "x": 770, "y": 120, "wires": [] },
  { "id": "monta_atuador", "type": "function", "z": "f1", "name": "Estado do atuador", "func": "var cmd = msg.payload;\nvar ligado = cmd === 'LIGAR' ? 1 : 0;\nmsg.payload = [ { estado: ligado }, { comando: cmd } ];\nreturn msg;", "outputs": 1, "noerr": 0, "x": 770, "y": 220, "wires": [["influx_atuador"]] },
  { "id": "influx_atuador", "type": "influxdb out", "z": "f1", "influxdb": "influx_conf", "name": "Grava atuador", "measurement": "atuador", "precision": "", "retentionPolicy": "", "database": "database", "precisionV18FluxV20": "ms", "retentionPolicyV18Flux": "", "org": "mack-obi", "bucket": "qualidade_ar", "x": 990, "y": 220, "wires": [] },
  { "id": "dbg", "type": "debug", "z": "f1", "name": "Alertas", "active": true, "tosidebar": true, "console": false, "complete": "payload", "x": 750, "y": 180, "wires": [] },

  { "id": "waqitimer", "type": "inject", "z": "f1", "name": "Consulta WAQI (5 min)", "props": [{"p":"payload"}], "repeat": "300", "crontab": "", "once": true, "onceDelay": "2", "topic": "", "payload": "", "payloadType": "date", "x": 160, "y": 280, "wires": [["waqihttp"]] },
  { "id": "waqihttp", "type": "http request", "z": "f1", "name": "API WAQI", "method": "GET", "ret": "obj", "paytoqs": "ignore", "url": "https://api.waqi.info/feed/saopaulo/?token=SEU_TOKEN_WAQI", "tls": "", "persist": false, "x": 390, "y": 280, "wires": [["waqifn"]] },
  { "id": "waqifn", "type": "function", "z": "f1", "name": "Formata AQI externo", "func": "if (msg.payload && msg.payload.status === 'ok') {\n    msg.payload = [ { aqi: msg.payload.data.aqi }, { cidade: 'saopaulo' } ];\n    return msg;\n}\nnode.warn('WAQI: verifique o token em api.waqi.info');\nreturn null;", "outputs": 1, "noerr": 0, "x": 620, "y": 280, "wires": [["influx_ext"]] },
  { "id": "influx_ext", "type": "influxdb out", "z": "f1", "influxdb": "influx_conf", "name": "Grava ar_externo", "measurement": "ar_externo", "precision": "", "retentionPolicy": "", "database": "database", "precisionV18FluxV20": "ms", "retentionPolicyV18Flux": "", "org": "mack-obi", "bucket": "qualidade_ar", "x": 850, "y": 280, "wires": [] }
]
